* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.dashMenu {
  background-color: blueviolet;
  width: 25vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dash {
  display: flex;
}
