nav {
    background-color: #070F2B;
    display: flex;
    height: 15vh;
    width: 100vw;
    padding-left: 5vw;
    gap: 40vw;
}
.butoane{
    display: flex;
    width: 20vw;
    gap: 2vw;

}
.butoane a{
    color: white;
    font-size: 4vw;
    font-weight:700;
}
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}